/*
* File improvements:
* - Split CSS files into module files
*/
body {
  margin: 0;
  padding: 50px 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
  max-width: 800px;
}

table {
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

#createProduct {
  width: 400px;
  padding: 32px 32px 32px 0px;
}

#createProduct input[type='text'],
#createProduct input[type='checkbox'],
#createProduct input[type='number'] {
  margin-left: 24px;
  margin-bottom: 8px;
  width: 160px;
  float: right;
}

#createProduct br {
  clear: both;
}
